<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BAEKHYUN</title>
</head>
<body>
   <header>
       <h1> BYUN BAEKHYUN : THE LIGHT</h1>
   <img width="320" src="/img/baekhyun.jpg" alt="">
   </header> 
   <h2>LIGHT</h2> 
   <p>
    Este poder puede crear, controlar y dar forma a la luz visible. Su habilidad fundamental es emitir luz en la oscuridad y tiene otras habilidades para desviar la vista al hacer explosiones y crear ilusiones. El espectro también se puede embalar a través de un prisma cuando la luz entra en contacto con otro objeto. El poder también tiene la capacidad de borrar la luz existente.
   </p>
</body>
</html>