<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>CHANYEOL</title>
</head>
<body>
    <header>
        <h1>PARK CHANYEOL : THE FIRE</h1>
        <img width="320" src="/img/chanyeol.jpg" alt="">
    </header>  
    <h2>FIRE</h2> 
    <p>
        Este poder puede crear fuego visible sin utilizar ninguna herramienta y manipular el fuego en varias formas. El portador de este poder no se ve afectado ni dañado por las llamas, incluso cuando se crea un gran incendio. El fuego puede encenderse incluso sin ninguna fuente de ignición, ya que el propio portador puede ser el mediador del fuego.
    </p>
   
</body>
</html>