<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>CHEN</title>
</head>
<body>
    <header>
        <h1>CHEN : THUNDER</h1>
        <img width="320" src="/img/chen.png" alt="">
    </header>
    <h2>THUNDER</h2> 
        <p>
        Este poder puede controlar todas las formas de rayos según se desee. El daño irreversible se puede influir sobre el objetivo controlando la intensidad del trueno y dónde golpea. El poder no solo controla y crea rayos, sino que también provoca tormentas, granizo y otros fenómenos meteorológicos diversos. Se sabe que el portador de este poder es inmune a todas y cada una de las condiciones climáticas, dependiendo de qué tan hábil sea el portador. La potencia se puede realizar independientemente de factores externos y también formar campos magnéticos densos y estables.
    </p>
    
</body>
</html>