<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HEROES</title>
    
</head>
<body>
    <header>
        <h1>MY HEROES</h1>
        <img src="/img/exo.jpg" alt="">
       <nav>
           <ul>
               <li><a href="http://localhost:3030/chanyeol">FIRE</a></li>
               <li><a href="http://localhost:3030/baekhyun">LIGHT</a></li>
               <li><a href="http://localhost:3030/sehun">WIND</a></li>
               <li><a href="http://localhost:3030/suho">WATER</a></li>
               <li><a href="http://localhost:3030/xiumin">FROST</a></li>
               <li><a href="http://localhost:3030/kai">TELETRANSPORTATION</a></li>
               <li><a href="http://localhost:3030/chen">THUNDER</a></li>
               <li><a href="http://localhost:3030/kyungsoo">FORCE</a></li>
           </ul>
       </nav>
    </header>
</body>
</html>