<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>KAI</title>
</head>
<body>
    <header>
        <h1>KAI : TELETRANSPORTATION</h1>
    <img width="320" src="/img/kai.jpg" alt="">
     </header>   
    <h2>TELETRANSPORTATION</h2>
    <P>
        Este poder mueve un objeto físico o energía de un lugar a otro instantáneamente. Permite que uno mismo o un objeto específico se trasladen a otro local lejano. La teletransportación puede ocurrir instantáneamente sin la restricción de tiempo y distancia. Las variaciones de esta habilidad también se conocen como portal, deformación y salto hiperespacial. El portador no tiene restricciones de tiempo y distancia y cuanto más microscópico se desintegra el objeto, mayor es la precisión de la teletransportación.
    </P>
</body>
</html>