<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>D.O</title>
</head>
<body>
    <header>
        <h1>D.O : FORCE</h1>
    <img width="320" src="/img/kyungsoo.jpg" alt="">
    </header>  
    <h2>FORCE</h2> 
    <p>
        Este poder controla la fuerza de la tierra y absorbe la energía para alimentar su fuerza sobrenatural. La capacidad fundamental de este poder es mover objetos masivos con facilidad y además, manipular su masa y forma. También se sabe que es un poder trascendental donde el portador no solo puede mover objetos específicos que están a la vista o en la mano, sino también controlar los movimientos de la energía invisible. Así, es un poder que supera las limitaciones físicas, dónde el portador es capaz de controlar su fuerza como desee.
    </p>
    
</body>
</html>