<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>SEHUN</title>
</head>
<body>
    <header>
        <h1>SEHUN : WIND</h1>
        <img width="320" src="/img/sehun.jpg" alt="">
    </header>
    <h2>WIND</h2>
    <p>
        Este poder manipula el flujo del aire utilizando las diferencias en la presión atmosférica. El portador puede mover el flujo de aire para crear viento y ajustar su dirección e intensidad como desee. Dado que la velocidad y la densidad del movimiento del viento también se pueden controlar, esta capacidad se puede utilizar de forma eficaz dependiendo de la situación dada.
    </p>
</body>
</html>