<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>SUHO</title>
</head>
<body>
    <header>
        <h1>SUHO : WATER</h1>
    <img width="320" src="/img/junmyeon.jpg" alt="">
   </header>
        <h2>WATER</h2>
        <p>
            Este poder puede generar agua de la nada y manipular todas las formas de líquido. El portador puede controlar el agua sin ser interferido por la fuerza gravitacional y también mover grandes masas de agua como ríos y océanos. Más allá de simplemente recolectar vapores de agua en la atmósfera, el portador también puede producir una gran cantidad de agua; y este poder también puede transformar la forma del agua sin limitación y aumentar su masa. En la mayoría de los casos, el poder se vuelve más fuerte cuando el portador está cerca del agua.
        </p>
    
</body>
</html>