<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>XIUMIN</title>
</head>
<body>
   <header>
       <h1>XIUMIN : FROST</h1>

       <img width="320" src="/img/xiumin.jpg" alt="">
    </header>  
    <h2>FROST</h2>   
   <p>
    Este poder puede manipular la nieve y el hielo. El portador puede controlar el clima haciendo que nieve y granice como desee, y también congelar instantáneamente un objetivo al bajar rápidamente la temperatura. El portador puede crear paredes glaciares, pilares de hielo o cualquier forma de hielo al congelar la humedad en el aire y el agua circundante.
   </p> 
</body>
</html>